html,body {
    height: 100%;/*这里要高度100%,否则下面的.content-wrapper的100%不起作用*/
    padding: 0px;
    margin: 0px;
    /* The html and body elements cannot have any padding or margin. */
    
}
.content-wrapper {
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    /*这里外层相对定位，内层页脚绝对定位*/
}
.content {
    padding: 80px;/*这里中间内容要距离上部有个距离，否则中间的内容被上部挡住*/
}
/*页头样式begin*/
.navbar-header .logo {
    /*background: url(http://res.jisuanke.com/img/logo/logo.svg) 20px 0 no-repeat;*/
    width: 200px;
    height: 60px;
    margin-top: 10px;
    display: block;
}
/*页头样式begin*/


/*页脚样式begin*/
.cushion{
  padding-bottom:188px;
}
.footer {
    width: 100%;
    position: absolute;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
    background: #11354b;
    border-top: 1px solid #0d2838;
    color: #777;
}

.footer-logo{
  /*background: url(http://res.jisuanke.com/img/logo/logo-footer.svg) no-repeat;*/
  height: 48px;
  width: 48px;
  margin:0 auto;
}
.footer-links {
  color: #7196b7;
  margin: 10px auto;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
/*页脚样式end*/

.loginRegister_box {
    position: relative;
    top: 50%;
    width: 480px;
    margin: 0 auto 24px;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.login_register_btn {
    width: 346px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #f7a947;
    border: none;
    padding: 16px 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
}

    .login_register_btn:hover {
        background: #FF9900;
    }
    
.top_b {
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: 100 18px/42px 'PT Sans', sans-serif;
    height: 42px;
    padding: 0 20px;
    background: #e0e0e0;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    font-size: 25px;
    text-align: center;
}

.cnt_b {
    padding: 30px 0;
    width: 66%;
    margin: 0 auto;
}
.field-validation-error {
    color: red;
}
