@{Layout = "~/Views/Shared/_LayoutWithHeadAndFooter.cshtml";}
@section Styles{@RenderSection("Styles", required: false)}
@section Header
{
    @Html.Partial("_Navigation")
}
<div class="container">
    @RenderBody()
</div>
@RenderSection("Scripts", required: false)
 