@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
} 
@section Styles{@RenderSection("Styles", required: false)}
@RenderSection("Header", required: false)
<div class="content">
    @RenderBody()
</div>
@Html.Partial("_FooterPartial")
@RenderSection("scripts", required: false)