<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--写入Cookie域-->
  <add key="CookieDomain" value="" />
  
  <!--网站URL-->
  <add key="PortalWebsiteUrl" value="http://www.gpms.com" />
  <add key="ImageWebsiteUrl" value="http://image.gpms.com" />
  <add key="ActivityWebsiteUrl" value="http://hd.gpms.com" />
  
  
  
  <!--图片保存路径-->
  <add key="carouselBasePath" value="~/App_Data/Resources/picture/carousel" />
  <add key="LogoBasePath" value="~/App_Data/Resources/picture/" />  
</appSettings>