@model dynamic

@{
    ViewBag.Title = "title";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>自定义插件</title>
    <link rel="stylesheet" type="text/css" href="http://developer.amap.com/Public/css/demo.Default.css" />  
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        #iCenter {
            height: 100%;
        }
    </style>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=f29d7c8661bebd7bed62e2521aa876ce"></script>

    <script language="javascript">
        var mapObj, marker, point,locationInfo;

        //定义一个插件类 homeControlDiv，AMap为命名空间
        AMap.homeControlDiv = function () { };
        AMap.homeControlDiv.prototype = {
            addTo: function (map, dom) {
                dom.appendChild(this._getHtmlDom(map));
            },
            _getHtmlDom: function (map) {
                this.map = map;
                // 创建一个能承载控件的<div>容器
                var controlUI = document.createElement("DIV");
                this.container = controlUI;
                controlUI.style.width = '80px';     //设置控件容器的宽度
                controlUI.style.height = '20px';    //设置控件容器的高度
                controlUI.style.backgroundColor = '#fff';
                controlUI.style.borderStyle = 'solid';
                controlUI.style.borderWidth = '2px';
                controlUI.style.cursor = 'pointer';
                controlUI.style.textAlign = 'center';

                // 设置控件的位置
                controlUI.style.position = 'absolute';
                controlUI.style.left = '40px';     //设置控件离地图的左边界的偏移量
                controlUI.style.top = '340px';        //设置控件离地图上边界的偏移量
                controlUI.style.zIndex = '300';     //设置控件在地图上显示

                // 设置控件字体样式
                controlUI.style.fontFamily = 'Arial,sens-serif';
                controlUI.style.fontSize = '12px';
                controlUI.style.paddingLeft = '4px';
                controlUI.style.paddingRight = '4px';
                controlUI.innerHTML = "返回中心点";


                // 设置控件响应点击onclick事件
                controlUI.onclick = function () {
                    //point = map.setCenter(new AMap.LngLat(116.404, 39.915));
                    //marker = new AMap.Marker({
                    //    icon: "http://webapi.amap.com/images/marker_sprite.png",
                    //    position: new AMap.LngLat(116.405467, 39.907761)
                    //});
                    //marker.setMap(mapObj);
                    //mapObj.setZoom(13);

                    toolBar.doLocation();
                }
                return controlUI;
            }
        }
        /*
         *初始化地图对象，加载地图
         */
        function mapInit() {
            mapObj = new AMap.Map("iCenter", {
                view: new AMap.View2D({
                    //center:new AMap.LngLat(116.39946,39.907629),
                    zoom: 10
                })
            });
            mapObj.plugin(["AMap.ToolBar"], function () {
                toolBar = new AMap.ToolBar(); //设置地位标记为自定义标记
                mapObj.addControl(toolBar);
                AMap.event.addListener(toolBar, 'location', function callback(e) {
                    locationInfo = e.lnglat;
                });
            });

            var homeControl = new AMap.homeControlDiv(mapObj); //新建自定义插件对象
            mapObj.addControl(homeControl);                  //地图上添加插件
        }

    </script>
</head>
<body onload="mapInit()">
    <div id="iCenter"></div>
</body>
</html>						

