<div class="cushion"></div>
<div class="footer">
    <div class="container">
        @*加这个div,container样式是为了内容居中*@
        <div class="row">
            <ul class="footer-links">
                <li><a href="#" target="_blank">关于<span class="hidden-xs">我们</span></a></li>
                <li class="muted">&middot;</li>
                <li><a href="#" target="_blank"><span class="hidden-xs">官方</span>博客</a></li>
                <li class="muted">&middot;</li>
                <li><a href="#" target="_blank"><span class="hidden-xs">关注</span>微博</a></li>
                <li class="muted">&middot;</li>
                <li><a href="#" target="_blank"><span class="hidden-xs">用前</span>必读</a></li>
                <li class="muted">&middot;</li>
                <li><a href="#" target="_blank">隐私<span class="hidden-xs">协议</span></a></li>
            </ul>
            <div class="footer-logo">
            </div>
            <ul class="footer-links">
                <li>&copy; 2014 itwocx</li>
                <li class="muted">&middot;</li>
                <li>京ICP备 14035395号</li>
            </ul>

        </div>
    </div>
</div>